ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  }

li {
    background: #009688;
    height: 50px;
    text-align: center;
    line-height: 45px;
    border-bottom: 1px solid white;
}

li:hover{
    background: #00968859;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

#contact {
    display: grid;
    width: 30%;
    margin: auto;
    margin-top: 57px;
}

#list {
    display: grid;
    width: 30%;
    margin: auto;
    margin-top: 57px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

  
#list td, #list th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
#list tr:nth-child(even){background-color: #f2f2f2;}
  
#list tr:hover {background-color: #ddd;}
  
#list th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #009688;
    color: white;
}

.action-button{
    background: #009688;
    height: 30px;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    border: none;
    margin-top: 20px;
}